@charset "UTF-8";

*{
    margin: auto;
}

main{
    max-width: 860px;
}

article{
    padding: 20px 0px;
    background-color: tan;
}

article p{
    text-align: justify;
    text-indent: 30px;
}

div#content, div#infobox{
    display:inline-block;
    padding: 5px;
    margin: 0px;

    background-color: beige;
}

div#content{
    max-width: 55%;
}

div#infobox{
    max-width: 42.2%;
}

#imgmatheus{
    max-width: 250px;
}

table th{
    text-align: left;
}

colgroup > col#col1{
    width: 130px;
}
