@charset "UTF-8";

@font-face {
    font-family: "drink";
    src: url("./fonts/Drinks.otf") format("opentype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #3c0583;
    color: white;
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div#logo > img {
    width: 100px;
    border-radius: 50%;
    margin: 0px 20px;
}

header > h1 {
    flex-basis: 70%;
    font-family: "drink", cursive;
    font-size: 4em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.411);

}

nav {
    background-color: #3c0583;
    padding: 0px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

nav > a {
    background-color: #979659;
    color: white;
    padding: 5px;
    margin: 0px 5px 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    flex: 0 0 100px;
}

nav > a:hover {
    background-color: #414027;
    transition: background-color .4s;
}

main {
    margin: 20px;
}

main > section#drinks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

main > section > div.produto {
    border: 1px dotted #000000;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

main > section > div.produto > img {
    width: 195px;
}