@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exile&family=Merienda:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

p#legend {
    font-size: 0.85em;
    text-align: center;
}

p {
    line-height: 2em;
}

/*HEADER*/

header {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuAndTitle {
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
    margin: 10px;
    font-size: 1.8em;
    font-family: 'Merienda', 'Times New Roman', Times, serif;
}

#menuIcon {
    fill: #ffffff;
    margin: 10px;
}

#menuIcon:hover {
    fill: gray;
}

#searchIcon {
    margin: 10px 20px;
}

/*NAV MENU*/

#menu {
    top: 0px;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.3);
    width: 100vw;
    height: 100vh;
    display: none;
}

@keyframes menuTransition {
    0% {
        left: -100%
    }
    100% {
        left: 0%
    }
} 

nav {
    color: #434343;
    font-size: 0.9em;
    font-weight: bold;
    height: 100vh;
    max-width: 80%;
}

nav p {
    line-height: 1.5em;
}

nav a {
    color: #434343;
    text-decoration: none;
}

nav  div.menuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #434343;
}

nav  div.item {
    border-left: 5px solid rgb(255, 255, 255);
}

nav  div.item:hover {
    background-color: #e6e5df;
    border-left: 5px solid orangered;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

nav  div.menuItem svg {
    margin-right: 10px;
}

nav  div.menuDiv {
    height: 25px;
}

nav div#donate a {
    text-decoration: none;
    color: #434343;
    font-weight: normal;
    display: flex;
    flex-shrink: 1fr;
    align-items: center;
}

nav p#dn {
    color:orangered;
    font-weight: bold;
    margin-bottom: 10px;
}

nav img#dngif {
    height: 85px;
    margin: 0px 10px;
}

nav > div#about {
    font-weight: normal;
    display: flex;
}

nav > div#about a {
    color: white;
    padding: 5px 10px;
    height: min-content;
    border-left: 5px solid #014b4100;
}

nav > div#about a:hover {
    background-color: rgba(1, 53, 35, 0.7);
    border-left: 5px solid orangered;
    border-radius: 3px;
    
}

/*EFFECT*/

div#effect{
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.eff {
    animation: walking 4s infinite linear;
}

div#effect img {
    max-width: 400px;
}

@keyframes walking {
    0% {
        left: -80px;
    }
    100% {
        left: 500px;
    }
}

/*SECTION#TITLE*/

section#title {
    margin: 30px 15px 10px 15px;
}

section#title h1 {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.8em;
}

section#title p {
    margin-bottom: 15px;
    font-size: 0.8em;
}

section#title hr {
    margin: 2px;
}

div#icons {
    display: flex;
    justify-content: space-between;
}

div#icons > div {
    display: flex;
}

div.icon {
    padding: 10px;
    border-radius: 8px;
}

div.icon:hover {
    background-color:#ada88b6c ;
}

div#languages {
    display: flex;
    justify-content: space-around;
    display: none;
}

div#languages a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

div#languages a:hover {
    border: 2px solid gold;
}

div#languages a img {
    width: 50px;
}

/*MAIN*/

main {
    text-align: justify;
    margin: 15px 15px 30px 15px;
}

main > p {
    margin: 20px 0px;
}

/*TABLE*/

main > table#infobox {
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 0.9em;
    text-align: start;
    max-width: 390px;
}

#tableImg {
    margin: auto;
    display: flex;
    justify-content: center;
}

#tableImg > img {
    width: 280px;
}

main > table#infobox tr {
    border: 1px solid lightgray;
}

td > a {
    text-decoration: none;
    color: #014b32;
}

td > a:hover {
    text-decoration: underline;
}

td > a:active {
    color: purple;
}

table#infobox th, td {
    padding: 8px 10px;
}

table#infobox th#tbMainTitle {
    font-style: italic;
    font-size: 1.5em;
}

table#infobox th.tbTitle {
    padding: 5px;
    text-align: center;
}

table#infobox th.tbSubTitle {
    text-align: start;
    width: 195px;
}

table#infobox td.related {
    text-align: center;
    font-style: italic;
}

/*articles*/

div.articles {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

div.articles:hover {
    background-color: rgba(153, 177, 157, 0.5);
}

div.articles > h2 {
    margin: 20px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.upIcon {
    display: none;
}

article.mainArticle {
    margin: 20px 0px;
    display: none;
}

/*FOOTER*/

footer {
    background-color: #014b3233;
    font-size: 0.85em;
}

#footerHeader {
    padding: 10px 15px;
    border-top: 1px solid #9a9a9a;
    border-bottom: 1px solid rgb(133, 131, 131);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerHeader a {
    text-decoration: none;
    color:#434343;
}

#footerHeader a:hover {
     text-decoration: underline;
}

#footerBody {
    padding: 15px;
}

#footerBody h2 {
    font-size: 1em;
    color: #434343;
    font-weight: normal;
    padding-top: 24px;
}


#relatedPages a {
    text-decoration: none;
    color: black;
}

div.rltp {
    background-color: rgb(255, 255, 255);
    margin: 10px 0px;
    border: 1px solid rgb(133, 131, 131);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

div.rltp:hover {
    background-color: rgb(153, 177, 157);
}

div.rltp > div.rltpImg {
    width: 52px;
    height: 52px;
    background-color: rgb(151, 151, 151);
    margin-right: 10px;
}

div.rltpImg img {
    width: 52px;
    height: 52px;
}


div#logo {
    margin-top: 80px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

div#logo  p {
    font-size: 1.8em;
    font-family: 'Merienda', 'Times New Roman', Times, serif;
    color: #434343;
}

div#logo  div.footerPic {
    display: flex;
    width: 124px;
    justify-content: space-between;
}

div.footerPic img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid rgb(133, 131, 131);
}

footer hr {
    height: 1px;
    background-color: rgb(133, 131, 131);
    border: none;
}

div#finalFooter {
    margin: 20px 0px;
}

span.separador {
    color: #014B32;
    margin: 0px 8px;
}

div#finalFooter a {
    text-decoration: none;
    color: #014B32;
    display: inline-block;
}


div#finalFooter a:hover {
     text-decoration: underline;
}


