@charset "UTF-8";

/*
light-green:  #014B41;

*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exile&family=Merienda:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

p#legend {
    font-size: 0.85em;
    text-align: center;
}

/*HEADER*/

header {
    background-color: #014B41;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuAndTitle {
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
    margin: 10px;
    font-size: 1.8em;
    font-family: 'Merienda', 'Times New Roman', Times, serif;
}

#menuIcon {
    margin: 10px;
}

#searchIcon {
    margin: 10px 20px;
}

/*SECTION#TITLE*/

section#title {
    margin: 30px 15px 10px 15px;
}

section#title h1 {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.8em;
}

section#title p {
    margin-bottom: 15px;
    font-size: 0.8em;
}

section#title hr {
    margin: 2px;
}

div#icons {
    display: flex;
    justify-content: space-between;
}

div#icons > div {
    display: flex;
}

div.icon {
    padding: 8px 10px;
    border: 2px solid white;
}

div.icon:hover {
    background-color: #6da8833d;
    border: 2px solid #028302;
    border-radius: 8px;
}

/*MAIN*/

main {
    text-align: justify;
    margin: 15px 15px 30px 15px;
}

main > p {
    margin: 20px 0px;
}

/*TABLE*/

main > table#infobox {
    border-collapse: collapse;
    background-color: rgb(252, 250, 250);
    font-size: 0.9em;
    text-align: start;
    max-width: 390px;
}

#tableImg {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: rgb(233, 85, 221);
}

#tableImg > img {
    width: 300px;
}

main > table#infobox tr {
    border: 1px solid lightgray;
}

td > a {
    text-decoration: none;
    color: #014B41;
    font-weight: 800;
}

td > a:hover {
    text-decoration: underline;
}

td > a:active {
    color: purple;
}

table#infobox th, td {
    padding: 8px 10px;
}

table#infobox th#tbMainTitle {
    font-style: italic;
    font-size: 1.5em;
}

table#infobox th.tbTitle {
    background-color: #4b410171;
    padding: 5px;
    text-align: center;
}

table#infobox th.tbSubTitle {
    text-align: start;
    width: 195px;
}

table#infobox td.related {
    text-align: center;
    font-style: italic;
}

/*articles*/

div.articles {
    display: flex;
    align-items: center;
}

div.articles > h2 {
    margin: 20px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.upIcon {
    display: none;
}

article.mainArticle {
    margin: 20px 0px;
    display: none;
}

/*FOOTER*/

footer {
    background-color: rgba(128, 0, 128, 0.183);
    padding: 15px;

}

