@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;

    margin: 20px;

    background: black url("../images/space-background.jpeg") no-repeat;
    background-size: cover;
    background-position: top center;
}

h1 {
    color:#76F300;
    text-align: center;
}

div#mobile > img {
    height: 90vh;
    position: absolute;
    top: 17%;
    left: -20%;
}

ul#aliens {
    column-count: 2;
    list-style-type: none;
}