@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {

    margin: 20px;
    max-width: 480px;

    background: black url("../images/space-background.jpeg") no-repeat;
    background-position: top center;
}

h1 {
    color:#76F300;
    text-align: center;
}

div#mobile > img {
    height: 90vh;
    position: absolute;
    top: 17%;
}

ul#aliens {
    column-count: 4;
    list-style-type: none;
}

ul#aliens > li > a > img {
    size: 50px;
    border-radius: 50%;
    border: 2px solid white;
}