@charset "UTF-8";

@font-face {
    font-family: "tabarra";
    src: url('../fonts/TabarraPro-Black-FFP.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body, html{
    margin-top: 20px;
    margin-left: 5px;
    background-color: #176144;
    max-width: 100vw;
    height: 100vh;
}

header {
    position: relative;
    background-color: #176144;
    padding: 10px;
    margin: auto;
    height: 100px;
}

header > span {
    position: absolute;
    top: 20%;
    color: white;
}

header > span:hover {
    color: lightgray
}

header > div#icon-tonpedia > img {
    display: inline-block;
    width: 60px;
    border-radius: 50%;

    position: absolute;
    top: 0.5%;
    left: 50px;
}

header > div#tonpedia-title {
    color: white;
    position: absolute;
    left: 30%;
    text-align: center;
    font-weight: bolder;
    font-family: 'tabarra';
}

div#tonpedia-title > h1{
    font-size: 1.5em;
}

div#tonpedia-title > h2{
    font-size: 0.5em;
}

div#search-bar {
    position: absolute;
    top: 60%;
    width: 100vw;
}

div#search-bar > input#isearch {
    padding: 5px;
    width: 70vw;
    display: inline-block;
}

div#search-bar > input#submit{
    padding: 5px;
    display: inline-block;
    width: 20vw;
}

main {
    background-color: white;
}

main > section > article {
}

main > section > article > div#introduction {
    display: inline-block;
    position: absolute;
    background-color: red;
    height: 550px;
    width: 50%;
}

main > section > article > div#infobox {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 550px;
    background-color: blue;
    top: 212px;
    left: 260px;
}

main > section > article > div#development1 {
    position: absolute;
    width: 100vw;
    padding-top: 50px;
    background-color: yellow;
    top: 760px;
}

main > section > article > div#development2 {
    background-color: orange;
    margin-top: 280px;
    padding-top: 50px;
}

main > section#finalsection > aside#references {
    background-color: cyan;
    padding-top: 50px;
}

main > section#finalsection > aside#bibliography {
    background-color: rgb(204, 80, 157);
    padding-top: 50px;
}

main > section#finalsection > aside#seemore {
    background-color: rgb(80, 204, 136);
    padding-top: 50px;
}

footer {
    margin-top: -20px;
    background-color: blueviolet;
    padding-top: 50px;
}
